<% if cached_recently_viewed_products.any? %>
<div data-hook id="recently_viewed">
  <h3 class="product-section-title"><%= Spree.t(:recently_viewed_products) %></h3>
  <ul class="list-group" id="recently_viewed_products">
    <% cached_recently_viewed_products.each do |product| %>
    <li class="list-group-item">
      <%= link_to product.name, product %>
        <% if spree_current_user -%>
          <%= product.price %>
        <% end -%>
      <%= image_tag product.variant_images.first.attachment.url %></li>
    <% end -%>
  </ul>
</div>
<% end %>
